<!DOCTYPE html>
<html>

<head>
    <title>Cupcakes</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <h2>Cupcakes</h2>
    <ul id="cupcakes-list">

    </ul>
    <form id="cupcake-form">
        <input type="text" id="cupcake-flavor" placeholder="Flavor">
        <input type="text" id="cupcake-size" placeholder="Size">
        <input type="text" id="cupcake-rating" placeholder="Rating">
        <input type="text" id="cupcake-image" placeholder="Image (optional)">
        <button type="submit">Add Cupcake</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/script.js"></script>
</body>

</html>