<!DOCTYPE html>
<html>

<head>
    <title>User List</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-4">
        <h1>Edit a user</h1>
        <form action="/users/{{user.id}}/edit" method="POST" class="d-inline">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{user.first_name}}">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value={{user.last_name}}>
            </div>
            <div class="form-group">
                <label for="image_url">Image URL</label>
                <input type="text" class="form-control" id="image_url" name="image_url" value="{{user.image_url}}">
            </div>
            <button class="btn btn-primary">Save</button>
        </form>
        <form action="/users" method="GET" class="d-inline">
            <button type="submit" class="btn btn-secondary">Cancel</button>
        </form>

    </div>

</body>

</html>