<!DOCTYPE html>
<html>

<head>
    <title>User List</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-4">
        <h2>User List</h2>
        <ul class="list-group">
            {% for user in users %}
            <li class="list-group-item"><a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></li>
            {% endfor %}
        </ul>
        <a href="/users/new" class="btn btn-primary mt-3">Add New User</a>
    </div>
</body>

</html>