<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boggle!</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <h1>Boggle</h1>
    <div class="gameboard-container">
        {% for row in board %}
            {% for word in row %}
            <div class="game-square">{{word}}</div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="guess-container">
        <form action="/guess" method="post">
            <input type="text" id="guess-input" name="guess-input"><br>
            <input type="submit" id="guess-button" value="Guess!">
        </form>
    </div>
    <div class="results-container">
        <span id="guess-result">Result: </span>
        <span id="game-score">Score: </span>
        <span id="game-timer">60 </span> seconds left
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/script.js"></script>
  </body>
</html>