{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Exercises</h2>
    <div class="row">
        {% for exercise in exercises %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ exercise.name }}</h5>
                    <a href="/exercises{{exercise.id}}" class="btn btn-primary">View
                        Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}