{% extends 'base.html' %}

{% block content %}

<h2 class="display-1">User detail</h2>
<div class="container mt-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
            <p class="card-text">Email: {{user.email}}</p>
            <form action="/users/{{user.username}}/delete" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>

</div>

{% endblock %}